    <div class="wrapper">
        <input type="text" name="search" autocomplete="off webauthn" [placeholder]="placeholder">
        <button (click)="toggleOpen()">
            <div *ngIf="open;else content">
                <i class="fa fa-angle-up"></i>
            </div>
            <ng-template #content>
                <i class="fa fa-angle-down"></i>
            </ng-template>
        </button>
        
        <div class="results" [ngClass]="open?'show':'hidden'"
        >
            <ul>
                <li *ngFor="let item of list;trackby:trackByKey" [value]="item.key">{{item.value}}</li>
            </ul>
        </div>
    </div>

<!-- <ul>
    <li *ngFor="let item of list" [value]="item.key">{{item.value}}</li>
</ul> -->