    <div class="wrapper">
        <input type="text" name="search" autocomplete="off webauthn" [placeholder]="placeholder" [(ngModel)]="search">
        <button (click)="toggleOpen()">
            <div *ngIf="open;else content">
                <i class="fa fa-angle-up"></i>
            </div>
            <ng-template #content>
                <i class="fa fa-angle-down"></i>
            </ng-template>
        </button>
        
        <div class="results" [ngClass]="open?'show':'hidden'">
            <ul class="search-results" (scroll)="onScroll($event)">
                <li *ngFor="let item of list; trackBy:trackByKey" [value]="item.key">{{item.value}}</li>
            </ul>
        </div>
    </div>